<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<div class="container"> 
<h1>About this project </h1>
<%= image_tag("erd.png", width: '1200', height: '800') %>
</div>



