<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">


<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
<head>
    <body>
        <div class="container"> 
            <h1>About this project </h1>
            <%= image_tag("erd.png", width: '1200', height: '800') %>
        </div>

        <p> Pokemon and move need a join table so when someone clicks a move it will give a list of all the pokemon that can learn that move.
        Pokemon table provides all the information needed to get more information on pokemon.
        Move contains a list of moves with all the stats related to that move.
        Items only have a name desc and a sprite. </p>
    </body>
</html>



