    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    		<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />

<h1>hello rails </h1>