<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
<head>
    <body>
    <h1>Pokemon</h1>


    <% uri_variable = URI("#{@pokemen.url}") %>
    <% res = Net::HTTP.get_response(uri_variable) %>
    <% data = JSON.parse(res.body, :headers => true, :encoding => "ISO-8859-1") %>

        <h1> <%= data["name"] %> </h1>



    </body>
</html>