		
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <h1>Moves</h1>

    <% @moves.each do |move| %>
    <h1> <%= link_to move.name, move %> </h1>
    <% end %>