		
<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
<head>
    <body>
    <h1>Moves</h1>

        <h1> <%= @move.name %> </h1>


        <ul>
            <% @move.pokemen.each do |learnedby| %>

            <%# <% learned_by = learnedby["name"] %>  
            <%= link_to learnedby.name, learnedby %>

            
            <% end %>
        </ul>


        


    </body>
</html>


        
